@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 9 9 11;
  /* Zinc 950 */
  --foreground: 244 244 245;
  /* Zinc 100 */
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}